[default]
localhost ansible_python_interpreter=/opt/local/Library/Frameworks/Python.framework/Versions/2.7/bin/python

[mesos_masters]
{% for m in mesos_masters.results%}
{% if loop.first %}
{{ mesos_node_prefix }}{{ loop.index }} zoo_id=1 consul_boostrap=true ansible_ssh_host={{ m.default_ip }} ansible_ssh_private_key_file=~/.ssh/id_rsa_{{ ssh_key }}
{% else %}
{{ mesos_node_prefix }}{{ loop.index }} zoo_id={{ loop.index }} ansible_ssh_host={{ m.default_ip }} ansible_ssh_private_key_file=~/.ssh/id_rsa_{{ ssh_key }}
{% endif %}
{% endfor %}

[mesos_workers]
{% for w in mesos_workers.results%}
{{ mesos_node_prefix }}node{{ loop.index }} ansible_ssh_host={{ w.default_ip }} ansible_ssh_private_key_file=~/.ssh/id_rsa_{{ ssh_key }}
{% endfor %}
